         body, html { 
            text-align:center; 
            margin:0 auto; 
            padding:0px; 
            font-family: lucida grande, tahoma, verdana, arial, sans-serif; 
            background: linear-gradient(white, #D3D8E8); 
            height: 100%;
         } 
         p {
            margin-top: 0px;
            margin-bottom: 0px;
         }
                  .text { 
            font-size:25px; 
            font-family:arial; 
            margin:0px; 
            color:#000000; 
         }
                  .gray {
            color: #808080; 
            font-weight: bold; 
         }
         .subtext{
            line-height: 50%;
            font-size:20px; 
            margin:0px; 
         }
         #header_wrapper { 
            width:100%; 
            min-width:980px; 
            background-color:#4c66a4; 
         } 
         #header { 
            width:980px; 
            margin:0px auto; 
            padding:0px; 
            height:85px; 
         } 
         #header li { 
            list-style-type:none; 
            float:left; 
            text-align:left; 
            color:white; 
         } 
         #header #sitename { 
            margin-top:25px; 
         } 
         #header #sitename a { 
            color:white; 
            text-decoration:none; 
            font-size:35px; 
            font-weight:900; 
         } 
         #header form { 
            margin-top:15px; 
            float:right; 
         } 
         #header form li { 
            font-size:13px; 
            margin-left:15px; 
         } 
         #header form li a { 
            color:#A9BCF5; 
            text-decoration:none; 
         } 
         #header form input[type="text"] { 
            margin-top:3px; 
            margin-bottom: 3px; 
            width:150px; 
            border:1px solid #08298A; 
            height:25px; 
            padding-left:3px; 
         } 
         #header form input[type="password"] 
         { margin-top:3px; 
            margin-bottom:3px; 
            width:150px; 
            border:1px solid #08298A; 
            height:25px; 
            padding-left:3px; 
         } 
         #header form button[type="submit"] 
         {  height:25px; margin-top:20px; 
            background-color:#084B8A; 
            color:white; 
            border:1px solid #08298A; 
         } 
         #wrapper { 
            margin:0 auto; 
            padding:0px; 
            text-align:center; 
            width:980px; 
         } 
         #wrapper div { 
            float:left; 
            font-family: helvetica, arial, sans-serif; 
         } 
         #wrapper #div1 { 
            margin-top: 60px; 
            width:590px; 
            text-align:left; 
         } 
         .description {
            font-size:15px; 
            margin:0px; 
            color: #808080; 
         }

         #wrapper #div1 p{
            font-size:18px; 
            font-weight: bold; 
            margin:0px; 
            color: #000000; 
         }

         #wrapper #div2 { 
            margin-top: 10px; 
            width:390px; 
            text-align:left; 
         } 
         #wrapper #div2 h1 { 
            margin:0px; 
            font-size:37px; 
            color:#2E2E2E; 
         } 
         #wrapper #div2 p { 
            font-size:18px; 
            color:#2E2E2E; 
         } 
         #wrapper #div2 li { 
            list-style-type:none; 
            margin-top:10px; 
         } 
         #wrapper #div2 li #firstname { 
            width:45%; 
         } 
         #wrapper #div2 li #lastname { 
            margin: 3px;
            width:45%; 
         } 
         #wrapper #div2 li input[type="text"] { 
            width:95%; 
            height:40px; 
            border-radius:5px; 
            padding-left:10px; 
            font-size:18px; 
            border:1px solid #BDBDBD; 
         } 
         #wrapper #div2 li input[type="password"] { 
            width:95%; 
            height:40px; 
            border-radius:5px; 
            padding-left:10px; 
            font-size:18px; 
            border:1px solid #BDBDBD; 
         }
         #wrapper #div2 li select { 
            padding:5px; 
            float:left; 
            position:relative;
            display: block;
         } 

         #wrapper #div2 li a { 
            margin-left:10px;  
            color:#045FB4; 
            text-decoration:none; 
            font-size:11px; 
            display: inline-block; 
            vertical-align: middle; 
            line-height:15px; 
         } 

         #wrapper #div2 li a:hover { 
            text-decoration:underline; 
         } 

         #wrapper #div2 li { 
            color:#2E2E2E; 
            font-size:18px; 
         } 
         #wrapper #div2 #terms { 
            color:#424242; 
            font-size:11px; 
         } 
         #wrapper #div2 #terms a { 
            display:inline; 
            margin:0px; 
         } 
         #wrapper #div2 li button[type="submit"] { 
            width:205px; 
            height:45px; 
            text-align:center; 
            font-size:19px; 
            margin-top: 10px; 
            margin-bottom: 10px; 
            font-family: 'Freight Sans Bold', helvetica, arial, sans-serif !important; 
            padding: 8px 40px;
            background-color: #5D9149;
            color: white;
            border: none;
            border-radius: 7px;
         } 
         #wrapper #div2 #create_page { 
            color:#424242; 
            font-size:13px; 
            font-weight:bold; 
         } 
         #wrapper #div2 #create_page a { 
            display:inline; 
            margin:0px; 
            font-size:13px; 
         }

         #wrapper #div2 img {
            width: 15px;
            height: 15px;
         }

         #wrapper #div1 img {
            width: 50px;
            height: 50px;
            float: left;
            margin-bottom: 5px;
         } 
